<h1>Result</h1>

<div class="container">
  <p>What is your longest word?</p>
  <%= @word %>
  <p>Your word: <%= @word %> </p>
  <p>Time Taken to answer:</p>
  <p>Your score:</p>
  <p>Message: <%= @answer %></p>
  <p>*****************************************************</p>
  <%= link_to "Play again", "/new" %>
</div>

